In [46]:
# Import the `pandas` library as `pd`
import pandas as pd
import numpy as np

In [47]:
column_names = ['sepal_length','sepal_width','petal_length','petal_width','class']

In [48]:
# Load in the data with `read_csv()`
iris = pd.read_csv("C:/Users/User/Desktop/MyDocuments/MSDS/Courses/AppliedDataScience/Week6/data/iris.data",
                     header=None, names=column_names)

In [49]:
print(iris)

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [50]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [15]:
iris.tail(5)

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [16]:
iris.sample(5)

     sepal_length  sepal_width  petal_length  petal_width            class
43            5.0          3.5           1.6          0.6      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
69            5.6          2.5           3.9          1.1  Iris-versicolor
17            5.1          3.5           1.4          0.3      Iris-setosa
149           5.9          3.0           5.1          1.8   Iris-virginica

In [19]:
from random import sample

In [22]:
# Create a random index
randomIndex = np.array(sample(range(len(iris)),5))

In [25]:
irisSample = iris.ix[randomIndex]

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [27]:
print(irisSample)

     sepal_length  sepal_width  petal_length  petal_width            class
97            6.2          2.9           4.3          1.3  Iris-versicolor
134           6.1          2.6           5.6          1.4   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica
107           7.3          2.9           6.3          1.8   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica

In [28]:
iris.shape

(150, 5)

In [29]:
iris.isnull()

     sepal_length  sepal_width  petal_length  petal_width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
5           False        False         False        False  False
6           False        False         False        False  False
7           False        False         False        False  False
8           False        False         False        False  False
9           False        False         False        False  False
10          False        False         False        False  False
11          False        False         False        False  False
12          False        False         False        False  False
13          False        False         False        False  False
14          False        False         False        False  False
15          False        False         False        False  False
16          False        False         False        False  False
17          False        False         False        False  False
18          False        False         False        False  False
19          False        False         False        False  False
20          False        False         False        False  False
21          False        False         False        False  False
22          False        False         False        False  False
23          False        False         False        False  False
24          False        False         False        False  False
25          False        False         False        False  False
26          False        False         False        False  False
27          False        False         False        False  False
28          False        False         False        False  False
29          False        False         False        False  False
..            ...          ...           ...          ...    ...
120         False        False         False        False  False
121         False        False         False        False  False
122         False        False         False        False  False
123         False        False         False        False  False
124         False        False         False        False  False
125         False        False         False        False  False
126         False        False         False        False  False
127         False        False         False        False  False
128         False        False         False        False  False
129         False        False         False        False  False
130         False        False         False        False  False
131         False        False         False        False  False
132         False        False         False        False  False
133         False        False         False        False  False
134         False        False         False        False  False
135         False        False         False        False  False
136         False        False         False        False  False
137         False        False         False        False  False
138         False        False         False        False  False
139         False        False         False        False  False
140         False        False         False        False  False
141         False        False         False        False  False
142         False        False         False        False  False
143         False        False         False        False  False
144         False        False         False        False  False
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False

[150 rows x 5 columns]

In [30]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [31]:
iris.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
120    0
121    0
122    0
123    0
124    0
125    0
126    0
127    0
128    0
129    0
130    0
131    0
132    0
133    0
134    0
135    0
136    0
137    0
138    0
139    0
140    0
141    0
142    0
143    0
144    0
145    0
146    0
147    0
148    0
149    0
Length: 150, dtype: int64

In [32]:
iris.query('petal_length > 6')

     sepal_length  sepal_width  petal_length  petal_width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [34]:
iris.query('petal_length > 6 & petal_width > 2')

     sepal_length  sepal_width  petal_length  petal_width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [36]:
iris.query('petal_length > 6 | petal_length < 1.5')

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
33            5.5          4.2           1.4          0.2     Iris-setosa
35            5.0          3.2           1.2          0.2     Iris-setosa
36            5.5          3.5           1.3          0.2     Iris-setosa
38            4.4          3.0           1.3          0.2     Iris-setosa
40            5.0          3.5           1.3          0.3     Iris-setosa
41            4.5          2.3           1.3          0.3     Iris-setosa
42            4.4          3.2           1.3          0.2     Iris-setosa
45            4.8          3.0           1.4          0.3     Iris-setosa
47            4.6          3.2           1.4          0.2     Iris-setosa
49            5.0          3.3           1.4          0.2     Iris-setosa
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [38]:
iris.query('petal_length == sepal_length')

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, class]
Index: []

In [39]:
iris.query('petal_length > sepal_length')

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, class]
Index: []

In [40]:
pd.isnull(iris)

     sepal_length  sepal_width  petal_length  petal_width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
5           False        False         False        False  False
6           False        False         False        False  False
7           False        False         False        False  False
8           False        False         False        False  False
9           False        False         False        False  False
10          False        False         False        False  False
11          False        False         False        False  False
12          False        False         False        False  False
13          False        False         False        False  False
14          False        False         False        False  False
15          False        False         False        False  False
16          False        False         False        False  False
17          False        False         False        False  False
18          False        False         False        False  False
19          False        False         False        False  False
20          False        False         False        False  False
21          False        False         False        False  False
22          False        False         False        False  False
23          False        False         False        False  False
24          False        False         False        False  False
25          False        False         False        False  False
26          False        False         False        False  False
27          False        False         False        False  False
28          False        False         False        False  False
29          False        False         False        False  False
..            ...          ...           ...          ...    ...
120         False        False         False        False  False
121         False        False         False        False  False
122         False        False         False        False  False
123         False        False         False        False  False
124         False        False         False        False  False
125         False        False         False        False  False
126         False        False         False        False  False
127         False        False         False        False  False
128         False        False         False        False  False
129         False        False         False        False  False
130         False        False         False        False  False
131         False        False         False        False  False
132         False        False         False        False  False
133         False        False         False        False  False
134         False        False         False        False  False
135         False        False         False        False  False
136         False        False         False        False  False
137         False        False         False        False  False
138         False        False         False        False  False
139         False        False         False        False  False
140         False        False         False        False  False
141         False        False         False        False  False
142         False        False         False        False  False
143         False        False         False        False  False
144         False        False         False        False  False
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False

[150 rows x 5 columns]

In [43]:
# Load in the data with `read_csv()`
digits = pd.read_csv("C:/Users/User/Desktop/MyDocuments/MSDS/Courses/AppliedDataScience/Week6/data/optdigits.tra",
                     header=None)

In [44]:
print(digits)

      0   1   2   3   4   5   6   7   8   9  ...  55  56  57  58  59  60  61  \
0      0   1   6  15  12   1   0   0   0   7 ...   0   0   0   6  14   7   1
1      0   0  10  16   6   0   0   0   0   7 ...   0   0   0  10  16  15   3
2      0   0   8  15  16  13   0   0   0   1 ...   0   0   0   9  14   0   0
3      0   0   0   3  11  16   0   0   0   0 ...   0   0   0   0   1  15   2
4      0   0   5  14   4   0   0   0   0   0 ...   0   0   0   4  12  14   7
5      0   0  11  16  10   1   0   0   0   4 ...   3   0   0  10  16  16  16
6      0   0   1  11  13  11   7   0   0   0 ...   0   0   0   1  13   5   0
7      0   0   8  10   8   7   2   0   0   1 ...   0   0   0   4  13   8   0
8      0   0  15   2  14  13   2   0   0   0 ...   0   0   0  10  12   5   0
9      0   0   3  13  13   2   0   0   0   6 ...   0   0   0   3  15  11   6
10     0   0   6  14  14  16  16   8   0   0 ...   0   0   0  10  12   0   0
11     0   0   0   3  16  11   1   0   0   0 ...   0   0   0   0   2  14  14
12     0   0   0   4  13  16  16   3   0   0 ...   0   0   0   0   5  15   4
13     0   0   7  12   6   2   0   0   0   0 ...   0   0   0   5  16   9   0
14     0   0   7  11  11   6   0   0   0   9 ...   0   0   0  14  16  12  10
15     0   1  10  15   8   0   0   0   0   6 ...   0   0   0   9  15   8   0
16     0   0   0   1  11   7   0   0   0   0 ...   0   0   0   0   3  15   0
17     0   0   5  12  16  16   3   0   0   0 ...   0   0   0   8  12   0   0
18     0   0   1   8  13  13   2   0   0   4 ...   0   0   0   1  13  12   4
19     0   0   0   2  13  12   4   0   0   0 ...   0   0   0   0   0  15   3
20     0   0   4  11  15  16  15   0   0   0 ...   0   0   0   6  14   2   0
21     0   0   4  10  13  11   1   0   0   2 ...   0   0   0   6  13  11   1
22     0   0   3  11  13  14   6   0   0   0 ...   0   0   0   3  13  10   0
23     0   0   1   4  11  13   7   0   0   2 ...   0   0   0   0   1  14   3
24     0   0   9  13   1   0   0   0   0   0 ...   5   0   0   4  15  16  16
25     0   0   9  16  11   0   0   0   0   4 ...   1   0   0  10  16   9   9
26     0   0   2  13   9   0   0   0   0   0 ...   0   0   0   3  16  14   4
27     0   0   0  10  12   0   0   0   0   0 ...   0   0   0   1  11  14  12
28     0   0   0   0  10  13   0   0   0   0 ...   0   0   0   0   0   8  15
29     0   0   7   9  13  11   2   0   0   6 ...   0   0   0  13  12   8   1
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  .. ...  ..  ..  ..  ..  ..  ..  ..
3793   0   0  15  15  16  14   1   0   0   3 ...   0   0   0  15  16  12   0
3794   0   0   2  13  16  15   4   0   0   0 ...   0   0   0   3  14   1   0
3795   0   0  12  16   7   0   0   0   0   2 ...   0   0   0  11  16  16  16
3796   0   0   0   3  13   0   0   0   0   0 ...   0   0   0   0   6  12   0
3797   0   0   0  12   8   0   0   0   0   0 ...   0   0   0   0  14   6   0
3798   0   0   0   9  12   0   0   0   0   0 ...   0   0   0   0  10  11   0
3799   0   0   5  16  13   1   0   0   0   0 ...   0   0   1   6  10  12  12
3800   0   0   6  16   8   0   0   0   0   2 ...   0   0   0   7  13  16  13
3801   0   0   5  16  11   0   0   0   0   1 ...   0   0   0   4  14  12   2
3802   0   1  12  16  14   4   0   0   0   8 ...   0   0   0  13  15  15  10
3803   0   0   3  14  13   3   0   0   0   0 ...   0   0   0   3  13  13   6
3804   0   0  12  16  16  10   1   0   0   0 ...   0   0   1  10  16  16  16
3805   0   0   0   8  11   0   0   0   0   0 ...   0   0   0   0   7  12   0
3806   0   1   9  16  14   6   0   0   0   5 ...   0   0   0  11  16   7   0
3807   0   0   4  14  15   3   0   0   0   0 ...   0   0   0   3  14  14   6
3808   0   2  15  16  15   1   0   0   0   3 ...   0   0   0  14  13  16  11
3809   0   0   5  15  16   6   0   0   0   0 ...   0   0   0   5  15  16  15
3810   0   0   4  16  11   1   0   0   0   0 ...   0   0   0   2  12  16  11
3811   0   0   0   0   7  11   1   0   0   0 ...   0   0   0   2   0   7  11
3812   0   0   0   6  13   0   0   0   0   0 ...   0   0   0   0   6   9   0
3813   0   0   0   6   8   0   0   0   0   0 ...   0   0   1   4   9   8   0
3814   0   0   9  16   6   0   0   0   0   2 ...   0   0   0  10  13   1   0
3815   0   0   9  16  12   1   0   0   0   3 ...   0   0   0   8  16  16  16
3816   0   1  10  16  16   4   0   0   0   8 ...   0   0   2  13  16  12   5
3817   0   0   6  16  11   0   0   0   0   1 ...   0   0   1   7  14  16  12
3818   0   0   5  13  11   2   0   0   0   2 ...   0   0   0   8  13  15  10
3819   0   0   0   1  12   1   0   0   0   0 ...   0   0   0   0   4   9   0
3820   0   0   3  15   0   0   0   0   0   0 ...   0   0   0   4  14  16   9
3821   0   0   6  16   2   0   0   0   0   0 ...   0   0   0   5  16  16  16
3822   0   0   2  15  16  13   1   0   0   0 ...   0   0   0   4  14   1   0

      62  63  64
0      0   0   0
1      0   0   0
2      0   0   7
3      0   0   4
4      0   0   6
5     16   6   2
6      0   0   5
7      0   0   5
8      0   0   0
9      0   0   8
10     0   0   7
11     1   0   1
12     0   0   9
13     0   0   5
14     1   0   3
15     0   0   0
16     0   0   4
17     0   0   7
18     0   0   8
19     0   0   4
20     0   0   7
21     0   0   8
22     0   0   5
23     0   0   9
24    16  16   1
25    13   6   2
26     0   0   0
27     1   0   6
28     2   0   1
29     0   0   8
...   ..  ..  ..
3793   0   0   5
3794   0   0   7
3795  16   8   2
3796   0   0   4
3797   0   0   4
3798   0   0   4
3799   2   0   9
3800   9   0   9
3801   0   0   0
3802   2   0   3
3803   0   0   0
3804   7   0   3
3805   0   0   4
3806   0   0   8
3807   0   0   0
3808   1   0   3
3809   1   0   0
3810   1   0   1
3811   0   0   1
3812   0   0   4
3813   0   0   4
3814   0   0   8
3815   8   0   9
3816   0   0   3
3817   1   0   9
3818   1   0   9
3819   0   0   4
3820   0   0   6
3821   5   0   6
3822   0   0   7

[3823 rows x 65 columns]

In [45]:
digits.shape

(3823, 65)

In [53]:
iris.query('petal_length > 6')

     sepal_length  sepal_width  petal_length  petal_width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [54]:
iris[iris.petal_length > 6]

     sepal_length  sepal_width  petal_length  petal_width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [56]:
iris[iris['petal_length'] > 6]

     sepal_length  sepal_width  petal_length  petal_width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [58]:
iris[iris.iloc[:,2] > 6]

     sepal_length  sepal_width  petal_length  petal_width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [60]:
#iris[iris[:,2] > 6]

In [61]:
len(digits)

3823